@import "./_minireset.css";

:root {
  --lighter: #F0F5F9;
  --light: #C9D6DE;
  --dark: #52616A;
  --darker: #1E2022;

  --red: #FF7473;
  --yellow: #FFC952;
  --blue: #47B8E0;

  --font-size-1: 3rem;
  --font-size-2: 2.25rem;
  --font-size-3: 1.5rem;
  --font-size-4: 1.25rem;
  --font-size-5: 1rem;
  --font-size-6: .875rem;

  --border-radius-1: .5rem;
  --border-radius-2: 1rem;
  --border-radius-circle: 100%;
}

body {
  color: var(--darker);
  background-color: var(--lighter);
  min-height: 100%;
  min-width: 100%;
  font-family: Arial, sans-serif;
  font-size: 16px;
}
